* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Cairo", sans-serif; */
  font-family: Handel Gothic;
  overflow-x: hidden;
  overflow-x: hidden;
}

p {
  font-size: 20px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

nav {
  background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

/* .nav-link.active {
  color: red !important;
} */

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #be1e2d;
}
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-large {
  display: none;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .res-mobile {
    display: none;
  }
  .res-large {
    display: inline-block;
  }

  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
}
/*End Nav  */

/* start Home page */
.home-page {
  background-image: url(../images/home-page-souroh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-home-page {
  color: white;
  text-align: center;
}

.khat-home {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 20px auto;
}

.text-home-page button {
  background-color: #be1e2d;
  color: white;
  border: 1px solid #be1e2d;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  transition: all 0.3s;
}

.text-home-page button:hover {
  background-color: white;
  color: #be1e2d;
  border: 1px solid white;
  box-shadow: 3px 3px 5px #be1e2e85;
}
/* end Home page */

/* start section el4erka */
.caro {
  margin: 100px auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2.5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background-color: black;
  border-radius: 46px;
}

.enwan-carousel {
  text-align: center;
  margin: 50px auto;
}

.enwan-carousel .khat-carousel {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

.carousel-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.carousel {
  width: 40%;
  /* margin-right: 20px; */
}

.carousel img {
  border-radius: 10px;
}

.text-carousel {
  /* background: silver; */
  /* padding: 20PX; */
  width: 50%;
}

.text-carousel p {
  font-size: 20px;
  line-height: 1.8;
}

@media (max-width: 991px) {
  .carousel-text {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .carousel {
    width: 100%;
    /* margin-right: 20px; */
  }
  .text-carousel {
    /* background: silver; */
    /* padding: 20PX; */
    width: 100%;
  }
}

/* end section el4erka */

/* start section Video */
.bg-video {
  background-image: url(../images/bg-Vdeo\ .png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 550px;
  margin: 50px auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

video {
  max-width: 500px;
}

@media (max-width: 991px) {
  .bg-video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 991px) {
  video {
    max-width: 300px;
  }
}
/* end section Video */

/* start section ymaizna */
.box-all-ymaizna {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.box-ymaizna p {
  max-width: 220px;
}

.box-ymaizna i {
  color: #be1e2d;
}

.enwan-ymaizna {
  text-align: center;
  margin: 50px auto;
}

.enwan-ymaizna .khat-ymaizna {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .box-ymaizna p {
    max-width: 190px;
  }
}
@media (max-width: 767px) {
  .box-all-ymaizna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .box-ymaizna p {
    max-width: 100%;
  }

  .box-ymaizna p {
    max-width: 100%;
  }
}
/* end section ymaizna */

/* start section Num */
.sec-Num {
  margin: 80px auto;
}

.enwan-num {
  text-align: center;
  margin: 50px auto;
}

.enwan-num .khat-num {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

.box-Num {
  /* color: #AF1EBE; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: black; */
  max-width: 300px;
}

.box-Num h1 {
  font-weight: bold;
  margin: 5px auto;
}

.box-num-all {
  display: flex;
  justify-content: space-around;
}

.num-one {
  color: #be1e2d;
}

.num-two {
  color: #2dbe1e;
}

.num-three {
  color: #be1e2d;
}

.num-four {
  color: #2dbe1e;
}

@media (max-width: 767px) {
  .box-num-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* end section Num */

/* start section edarat */
.enwan-edarat {
  text-align: center;
  margin: 50px auto;
}

.enwan-edarat .khat-edarat {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

.box-edarat-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-edarat-all a{
  text-decoration: none;
  color: black;
}

.box-edarat {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e5e5e5;
  border-top: 2px solid #be1e2d;
  border-radius: 10px;
  transition: all 0.3s;
}

.box-edarat:hover {
  transform: scale(1.1, 1.1);
  /* border-radius: 15px; */
}

@media (max-width: 1200px) {
  .box-edarat {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .box-edarat {
    width: 170px;
    height: 200px;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .box-edarat-all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .box-edarat {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
}
/* end section edarat */

/* start section khadmatna */
.box-all-khadmatna {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 40px;
}

.box-khadmatna {
  max-width: 270px;
}

.box-khadmatna p {
  max-width: 250px;
  margin-bottom: 0;
}

.box-khadmatna a {
  color: #be1e2d;
}

/* .box-khadmatna i {
  color: #be1e2d;
} */

.enwan-khadmatna {
  text-align: center;
  margin: 80px auto 30px;
}

.enwan-khadmatna .khat-khadmatna {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .box-khadmatna p {
    max-width: 190px;
  }
}
@media (max-width: 767px) {
  .box-all-khadmatna {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .box-khadmatna p {
    max-width: 100%;
  }

  .box-khadmatna p {
    max-width: 100%;
  }

  .box-khadmatna {
    margin-bottom: 20px;
  }
}
/* end section khadmatna */

/* start section ard se3r */
.bg-ard-se3r {
  background-image: url(../images/bg-ard-se3r.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-ard-se3r-all {
  max-width: 400px;
  background-color: transparent;
  padding: 20px;
  color: white;
  text-align: center;
}

.text-ard-se3r-all p {
  margin-bottom: 20px;
}

.text-ard-se3r-all input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.text-ard-se3r-all textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
  outline: none;
}

.text-ard-se3r-all button{
  width: 100%;
  background-color: #be1e2d;
  color: white;
  padding: 10px;
  border: 1px solid #be1e2d;
  border-radius: 10px;
  transition: all 0.3s;
}

.text-ard-se3r-all button:hover {
  background-color: white;
  color: #be1e2d;
  border: 1px solid #be1e2d;
}

/* end section ard se3r */

/* start section etsl bna */
.etsl-bna-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.enwan-etsl-bna-all {
  text-align: center;
  margin: 80px auto 30px;
}

.enwan-etsl-bna-all .khat-etsl-bna-all {
  width: 100px;
  height: 2px;
  background-color: #be1e2d;
  margin: 20px auto;
}

.form-etsl-bna {
  max-width: 500px;
  background-color: transparent;
  padding: 0px;
}

.name-number {
  display: flex;
}

.name-number input:not(:last-child){
  margin-left: 10px;
}

.form-etsl-bna input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid silver;
}

.form-etsl-bna input:focus {
  border: 1px solid #be1e2d;
  box-shadow: 0 0 5px #be1e2e81;
}

.form-etsl-bna textarea:focus {
  border: 1px solid #be1e2d;
  box-shadow: 0 0 5px #be1e2e81;
}

.form-etsl-bna textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 15px;
  outline: none;
}

.form-etsl-bna button{
  width: 100%;
  background-color: #be1e2d;
  color: white;
  padding: 10px;
  border: 1px solid #be1e2d;
  border-radius: 10px;
  transition: all 0.3s;
}

.text-etsl-bna {
  max-width: 400px;
  background-color: transparent;
}

.text-etsl-bna h3 {
  font-size: 25px;
}

.text-etsl-bna a{
  display: block;
  color: #be1e2d;
  font-size: 20px;
  max-width: 350px;
  text-decoration: none;
  margin-bottom: 10px;
}

@media(max-width:767px){
  .etsl-bna-all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .text-etsl-bna {
    margin-bottom: 20px;
  }
  
}
/* end section etsl bna */

/* start section location */
.location iframe {
  width: 100%;
}
/* end section location */

/* start footer */
footer {
  background-color: #be1e2d;
  padding: 20px 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

footer .link-footer {
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
}

footer .link-footer a{
  text-decoration: none;
  color: white;
}

footer .link-footer a:hover {
  color: wheat;
}

/* footer .link-footer a:not(:last-child){
  margin-right: 50px;
} */

.copyright {
  text-align: center;
  color: white;
}

@media(max-width:767px){
  footer .link-footer a:not(:last-child){
    margin-right: 0;
    margin-bottom: 5px;
  }

  footer .link-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
/* end footer */